.footer{
    position: relative;
    bottom: 3em;
    background: $primary-color;
    width: 90%;
    max-width: 1400px;
    height: 11em;
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
    text-align: center;
    margin: 0 auto;
    .social_media_footer{
        //background: salmon;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 1.5em 0 0 0;
        //margin-left: -40px;
    }
    h1{
        font-size: 1.6em;
        font-weight: 300;
    }
    p{
        font-size: 0.7em;
        font-weight: 200;
    }
}