.header_outer{
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: sandybrown;
    height: 60px;
    z-index: 100;
    position: fixed;
    &::after{
        content: '';
        clear: both;
        display: block;
    }
}

// social media outer
.social_media_outer{
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 60px;
    margin: 0;
    padding: 0;
    left: 1em;
    //background: salmon;
}

// Nav outer MOBILE/TABLET
.nav_outer{
    margin-left: -40px;
    padding: 0;
    position: absolute;
    top: 0;
    //height: 0px;
    overflow: hidden;
    ul{
        margin: 0 auto;
        list-style: none;
        background: $color-grey;
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 100vw;
        li{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px solid hsla(0, 0%, 95%, 0.295);
            width: 100%;
            margin: 0 auto;
            transition: 250ms ease-in-out;
            &:hover{
                background: #706e6e;
            }
            a{
                cursor: pointer;
                display: block;
                position: relative;
                text-decoration: none;
                font-size: 1.5em;
                font-family: 'Montserrat', 'Sans serif';
                font-weight: 300;
                color: $color-white;
                margin: 0 10px;
                padding: 15px;
            }
        }
        .active_link{
            a{
                position: relative;
                font-weight: 400;
                color: $color-cream;
            }
        }
    }
}

// Nav link hover effect
.nav_outer a::after,
.nav_outer a::before{
    transition: all 250ms;
}
.nav_outer a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $color-cream;
    height: 1px;
}
.nav_outer a:hover{
    color: $color-cream;
}
.nav_outer a:hover::after{
    width: 100%;
}

// Desktop menu
@media (min-width: 800px){
    .header_outer{
        background: $color-grey;
    }
    .nav_outer{
        position: relative;
        margin: 0 auto;
        height: 60px;
        width: 100%;
        ul{
            height: 100%;
            flex-direction: row;
            margin: 0 auto;
            background: none;
            justify-content: center;
            max-width: 600px;
            padding: 0;
            li{
                background: none;
                &:hover{
                    background: none;
                }
                a{
                    padding: 0;
                    height: 1.5em;
                    font-size: 1em;
                    background: saddlebrown;
                    width: 100%;
                    text-align: center;
                    margin: 0 1em;
                }
            }
        }
    }
}