.services{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: $primary-color;
    position: relative;
    padding: 3em 0 0 0;
    color: $color-white;
    h1{
        font-size: $section-header;
        margin: 0 auto;
        padding: 1em 0;
        text-align: center;
        font-weight: 500;
    }
    .services_flexbox{
        width: 90%;
        max-width: 1000px;
        height: auto;
        padding: 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
        .service{
            width: 100%;
            height: auto;
            padding: 0;
            margin: 1em 0;
            box-sizing: border-box;
            //margin: 1em;
            overflow: hidden;
            position: relative;
            //border: 5px solid #f3f3f3;
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            .service_bg{
                width: 60%;
                height: 100%;
                position: relative;
                //background-image: url(../images/showcase.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transition: 300ms ease-in-out;
                &:hover,
                :active,
                :focus{
                    transform: scale(1.15);
                }
                &::before{
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    //background: rgba(38, 38, 94, 0.3);
                }
            }
            .service_text{
                position: relatives;
                height: auto;
                width: 40%;
                height: 100%;
                top: 0;
                background: $color-white;
                padding: 1em 0;
                margin: 0;
                color: $primary-color;
                //background: saddlebrown;
                z-index: 1;
                box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
                box-sizing: border-box;
                h2{
                    font-size: 1.5em;
                    font-weight: 700;
                    text-align: center;
                    padding: 0.5em 1em;
                    margin: 0;
                    color: $primary-color;
                }
                li{
                    text-align: center;
                    font-size: 1em;
                    font-weight: 500;
                    padding: 1em;
                    margin: 0 auto;
                }
            }
        }


// Custom/ Spcific Classes        
.flex_end{
    flex-flow: row-reverse;
}
.line_break{
    position: relative;
    height: 1px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background: $primary-color;
}

        .rendering{
            background-image: url(../images/rendering.jpg);
        }
        .drives{
            background-image: url(../images/resin.jpg);
        }
        .roofing{
            background-image: url(../images/roofing.png);
        }
        .cladding{
            background-image: url(../images/cladding.jpg);
        }
        .lanterns{
            background-image: url(../images/lanterns.jpg);
        }
        .building{
            background-image: url(../images/building.jpg);
            
        } 
    }
}