.showcase_outer{
    position: relative;
    top: 100px;
    width: 90%;
    max-width: 1400px;
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;
}

.showcase_img{
    position: absolute;
    height: 1059px;
    width: 100vw;
    background-image: url(../images/showcase_2.png);
    background-size: cover;
    background-position: top -200px center;
    background-repeat: no-repeat;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(11, 22, 68, 0.4);
    }
}
.logo_outer{
    //top: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $primary-color;
    width: 50%;
    top: 0;
    //right: 0;
    //bottom: 100px;
    //left: 0;
    //max-width: 600px;
    height: 45%;
    padding: 0;
    margin: auto;
    //transform: translateY(-80%);
    

    .logo_primo{
        font-size: 7em;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        margin-left: 0.5em;
        margin-top: 0.1em;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            height: 6px;
            width: 190px;
            left: -1em;
            bottom: 0.25em;
            background: $color-white;
            transform: rotate(-90deg);
        }
    }
    .logo_facade{
        margin-top: -2em;
        margin-left: 2em;
        font-size: 2em;
        font-weight: 500;
        color: $color-white;
        letter-spacing: 0.8em;
    }
    

}
.showcase_quote_box{
    //background: salmon;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    //box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
    .showcase_quote{
        position: relative;
        padding: 0;
        margin: -100px 0 0 0;
        font-size: 3.5em;
        color: $color-white;
        text-align: center;
        max-width: 350px;
        z-index: 1;
        font-weight: 100;
        text-align: right;
    }
    .showcase_cta{
        color: $color-white;
        z-index: 1;
        margin-top: 1em;
        font-size: 1.4em;
        border: 2px solid $color-white;
        padding: 0.5em 1em;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
        font-weight: 300;
        transition: 350ms ease-in-out;
        margin-left: 6em;
        background: linear-gradient(to right, rgba(83,214,129,1) 0%, rgba(145,232,66,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d681', endColorstr='#91e842', GradientType=1 );;
        position: relative;
        &:hover{
            border: 2px solid $primary-color;
            //background: $color-white;
            color: $primary-color;
            //font-weight: 500;
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 50px;
            right: -3em;
            bottom: 20px;
            background: $color-white;
            //transform: rotate(-90deg);
        }
    }
}
